body {
  font-family: Arial;
  background: #0f172a;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background: #1e293b;
  padding: 30px;
  border-radius: 10px;
  width: 350px;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
}

button {
  padding: 10px 20px;
  background: #38bdf8;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0ea5e9;
}

#result {
  margin-top: 15px;
  word-break: break-all;
}
